@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.font__opensans-400 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
}
.header {
  width: 100%;
  max-width: 1920px;
  height: 112px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(157, 157, 157, 0.13);
  margin-bottom: 40px;
}
.number__title {
  font-size: 18px;
  line-height: 140%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #444444;
  margin: 0;
}
.number__phone {
  font-size: 24px;
  line-height: 140%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #004DAE;
}
.flex_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.consult__button {
  width: 19.6%;
  height: 57%;
  max-width: 283px;
  max-height: 64px;
  background: rgba(0, 77, 174, 0.07);
  border: 1px solid #EDEDED;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 20px;
  font-size: 14px;
  line-height: 140%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #004DAE;
}
.content__main {
  width: 100%;
  height: 542px;
}
.main__dolgi {
  display: block;
  padding-left: 11.5%;
  width: 55.5%;
  height: 534px;
  max-width: 800px;
  margin-right: 30px;
  background: #2A394C;
  border-radius: 0px 10px 10px 0px;
}
.dolgi__fz {
  font-size: 14px;
  line-height: 140%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #9C9C9C;
  margin: 0;
  margin-top: 48px;
}
.dolgi__title {
  font-weight: 800;
  font-size: 52px;
  line-height: 136%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #FFFFFF;
  margin-top: 8px;
  margin-bottom: 20px;
}
.dolgi__ul {
  list-style-image: url(img/arrow.svg);
  line-height: 2.2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  margin-bottom: 32px;
}
.dolgi__ul li {
  font-weight: 600;
  font-size: 16px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #EBEBEB;
}
.ul__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #FFFFFF;
}
.dolgi__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  width: 335px;
  height: 56px;
  background: #FF4B4B;
  border-radius: 8px;
  border-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 7.2%;
}
.content__benefits {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2em;
  padding: 0 11.5%;
  margin-top: 2em;
  margin-bottom: 4.3%;
}
.benefits__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 255px;
  max-height: 190px;
}
.item__title {
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #000000;
  margin-bottom: 12px;
}
.item__description {
  font-size: 14px;
  line-height: 140%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #000000;
  margin: 0;
}
.footer {
  background: #F2F8FF;
  padding-left: 11.5%;
  width: 100%;
}
.footer__contacts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 285px;
  grid-column: 1 / 3;
}
.contacts__phone {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #212121;
}
.contacts__mail {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #212121;
}
.contacts__agree {
  font-family: Rubik;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 145%;
  color: rgba(55, 55, 55, 0.7);
  word-wrap: break-word;
  max-width: 285px;
}
.footer__spec {
  width: 530px;
}
.spec__ul {
  list-style-image: url(img/line.svg);
  display: grid;
  grid-template-columns: repeat(2, 0.5fr);
  grid-template-rows: repeat(3, 0.5fr);
}
.spec__ul li {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #2A394C;
}
.spec__title {
  grid-column: 1 / 3;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #14203A;
}
.position_container {
  display: grid;
  grid-template-columns: repeat(3, 19em);
}
.contacts__inf {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 0.5fr);
  align-items: center;
}
.inf {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  font-feature-settings: 'tnum' on, 'lnum' on;
  color: #232323;
  grid-column: 1 / 3;
}
.contacts__img {
  grid-row: 1;
  grid-column: 1 / 3;
}
.about {
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  font-feature-settings: 'tnum' on, 'lnum' on;
  color: #000000;
}
.adress {
  font-size: 12px;
  line-height: 140%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #272727;
}
.legal__inf {
  display: grid;
  grid-template-columns: repeat(4, 1.5fr);
  align-items: center;
  word-break: normal;
  max-width: 570px;
  margin-top: 40px;
}
.inf__item {
  font-size: 12px;
  line-height: 140%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: rgba(39, 39, 39, 0.7);
}
.privacy_policy {
  grid-column: 4 / 5;
  width: 194px;
}
.main__dolgi__step_one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 11.5%;
  width: 55.5%;
  height: 534px;
  max-width: 800px;
  margin-right: 30px;
  background: #2A394C;
  border-radius: 0px 10px 10px 0px;
}
.step_one__title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #FFFFFF;
}
.step_one_description {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #EBEBEB;
  margin: 0;
  margin-bottom: 14px;
}
.step_one_input {
  margin-right: 11px;
}
.step_one_input {
  content: "";
	display: inline-block;
	width: 17px;
	height: 18px;
	left: 0;
	bottom: 1px;
}
.step_one__button {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #FFFFFF;
  width: 132px;
  height: 56px;
  background: #FF4B4B;
  border-radius: 8px;
  border-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding-left: 24px;
}
.step_two__button_back {
  background: inherit;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 140%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #A7A7A7;
  width: 132px;
  height: 56px;
  border-radius: 8px;
  border-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.step_four__title {
  max-width: 403px;
}
.final_step_input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 24px;
  background: #FFFFFF;
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
  width: 350px;
  height: 54px;
  margin-bottom: 16px;
}
.final_step_button {
  width: 350px;
  padding: 16px 24px;
  justify-content: center;
}
.final_step_agree {
  color: rgba(255, 255, 255, 0.5);
}
.final_screen__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #FFFFFF;
  margin-top: 80px;
}
.final_screen_desc {
  font-size: 18px;
  line-height: 140%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #FFFFFF;
}
.final_screen_phone {
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #FFFFFF;
}
.final_screen_about {
  font-size: 18px;
  line-height: 140%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #FFFFFF;
}
#stepOne {
  display: none;
}
#stepTwo {
  display: none;
}
#stepThree {
  display: none;
}
#stepFour {
  display: none;
}
#stepEnd {
  display: none;
}
#finalScreen {
  display: none;
}
.get_consult {
  z-index: 20;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 80px;
  width: 700px;
  height: 600px;
  background: #EDF3F9;
  border-radius: 4px;
  left: 25%;
  top: 25%;
}
.get_consult__title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 140%;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #222222;
}
.get_consult_input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 24px;
  background: #FFFFFF;
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
  width: 350px;
  height: 54px;
  margin-bottom: 16px;
}
.close {
  padding-left: 91.7%;
  margin-bottom: 22px;
  padding-top: 46px;
}
#getConsult {
  display: none;
}
#close {
  border: none;
}
.radio {
  background-image: url(img/functionality/radio.svg);
}
#get_consult__background {
  background: rgba(102, 102, 102, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
@media (max-width: 1024px) {
  .benefits__item {
  max-height: 240px;
  }

  .footer__contacts {
  grid-column: 1 / 2;
  }
}
